body {
    background-color: lightgray;
}

.bigNumber {
    font-size: 100px;
    font-weight: bold;
    color: grey;
}

.cardText {
    font-size: 20px;
    font-style: italic;
}

.card-text {
    text-align: center;
}

.cardFooter {
    text-align: center;
}
