{% extends 'base.html.twig' %}

{% block title %}Nouveau Candidat{% endblock %}

{% block body %}
    <h1>Nouveau Candidat</h1>

    {{ include('candidat/_form.html.twig') }}

    <a class='btn btn-primary' role='button' href="{{ path('app_candidat_index') }}">Retour</a>
{% endblock %}
