{% extends 'base.html.twig' %}

{% block title %}New Organisme{% endblock %}

{% block body %}
    <h1>Nouvel Organisme</h1>

    {{ include('organisme/_form.html.twig') }}

    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_index') }}">Retour</a>
{% endblock %}
